@import '../../../../theme/sass/conf/conf';

.page-group {
  padding-top:10px;
}

.page-group_amount {

}

.page-group_amount {
  //padding-top: 10px;
}

.page-group_page {
  margin: 0 20px 15px 0;
}

.page-group_page-size {
  select {
    padding: 0;
    border-radius: 10%;
    padding: 2px;
    cursor: pointer;

    option {
      padding: 0;
    }
  }

}

.page-group_page-preNnext{
  border: 1px solid $border;
  border-radius: 19%;
  margin: 0 7px;
  padding: 2px 3px;
  cursor: pointer;
}

.page-group_page-size-input {
  width: 35px;
  border-radius: 10%;
  text-align: center;
}